In [1]:
import pandas as pd

In [2]:
# Прочитать текстовый файл и создать список имен файлов
with open('vectors.txt', 'r') as file:
    file_names = file.read().splitlines()

# Создать DataFrame из списка имен файлов
df = pd.DataFrame({'image_name': file_names})

In [3]:
df

           image_name
0      6282577355.jpg
1      1287920676.jpg
2      5721530415.jpg
3       536495604.jpg
4       172892648.jpg
...               ...
31779  4537351220.jpg
31780    40001784.jpg
31781   987907964.jpg
31782  4549977232.jpg
31783  4486484038.jpg

[31784 rows x 1 columns]

In [7]:
df.to_csv('txtdf1.csv', index=False)

In [8]:
df1 = pd.read_csv('txtdf1.csv')

In [9]:
df1

           image_name
0      6282577355.jpg
1      1287920676.jpg
2      5721530415.jpg
3       536495604.jpg
4       172892648.jpg
...               ...
31779  4537351220.jpg
31780    40001784.jpg
31781   987907964.jpg
31782  4549977232.jpg
31783  4486484038.jpg

[31784 rows x 1 columns]